version: 2

updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    target-branch: main
    commit-message:
      prefix: "chore"
    labels:
      - dependencies
    groups:
      all-dependencies:
        patterns:
          - "*"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    target-branch: main
    commit-message:
      prefix: "ci"
    labels:
      - dependencies
    groups:
      all-actions:
        patterns:
          - "*"
