version: 2

updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    target-branch: main
    commit-message:
      prefix: "chore"
    labels:
      - dependencies

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    target-branch: main
    commit-message:
      prefix: "ci"
    labels:
      - dependencies
